body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*

  Buttom colors: #0f766e

*/


.week {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}

.days-today {
  color: #ffffff;
  background-color: #0f766e;
  border-radius: 50%;
  opacity: 0.5;
  padding: 10px;
  cursor: pointer;
}
.disabled-day {
  opacity: 0.5;
  padding: 10px;
}

.selected-day {
  background-color: #0f766e;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.days {
  display: flex;
  flex-direction: column;
  gap: 10px;
}








body{
  font-family: helvetica;
  font-size: 18px;
  text-align: center;
}

.accordion{ 
  display: inline-block;
  text-align: left;
  margin: 1%;
  width: 70%; 
  
  &:hover{
    .accordion-content{
      max-height: 1000px;
    }
  
  }
}

.accordion-content{
  -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  transition: max-height 1s;  
  background: #e5feff;
  overflow: hidden;
  max-height: 0;
}

.accordion-inner{
  padding: 0 15px;
}

.accordion-toggle{
  -webkit-transition: background .1s linear;   
  -moz-transition: background .1s linear;   
  -ms-transition: background .1s linear;   
  -o-transition: background .1s linear;   
  transition: background .1s linear;   
  background: #00b8c9;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 0 0 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  
  &:hover{
    background: darken(#00b8c9, 15%);
  }
  
}

